<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_order">
        <observer name="new_order_created" instance="Test\CourseSystem\Observer\NewOrderCreated" />
    </event>
    <event name="catalog_product_save_after">
        <observer name="email_for_cancel" instance="Test\CourseSystem\Observer\EmailForCancel" />
    </event>
</config>